fonts.google.com/specimen/Open+Sans
fonts.google.com/specimen/Poppins
fontawesome.com

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

body {
    justify-content: center;
    align-items: center;
   
   
}


.hero-banner {
    background-image: url("images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    width: 1440px;
    height: 718px;
    background-repeat: no-repeat;
    position: relative;   
    
}

.top-nav {
    display: flex;
    padding: 40px 50px 20px;
    margin: 40px;
    justify-content: space-between;
    
}

.logo {
    background-image: url("images/logo.svg");
    width: 300px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 150px;
}

button {
    background-color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 34px;
    width: 250px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-right: 315px;
    border: none;
    font-size: Poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav{
    font-weight: 600;
    color: rgb(139, 139, 139);
    margin-right: 50px;
}

.hero-flex-item{
    display: flex;
    margin: 40px;
}

.flex-right h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: Open Sans;
    
}
.flex-right p{
    padding: 30px 0px 30px;
    font-size: 20px;
    font-weight: 400;
}

.get-started button{
    background-color: hsl(322, 100%, 66%);
    font-size: 18px;
    text-align: center;
    border-radius: 34px;
    width: 300px;
    cursor: pointer;
    color: white;
    margin-right: 315px;
    border: none;
    padding: 18px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.flex-left {
    background-image: url("images/illustration-mockups.svg");
    width: 60%;
    height: 600px;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-size: 700px 500px;
    margin-top: -20px;
}

.flex-right {
    margin-top: 100px;
    margin-left: 50px;
    
    width: 50%; 
}



main {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-top: 50px;
   
}

.main-container {
    display: flex;
    border-radius: 10px;
    background-color: white;
    padding: 30px 20px 5px;
    width: 1200px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    margin: 30px 100px 10px;
    justify-content: space-between;
}

.main-text {
    padding: 50px 50px;
 
    width: 100%;
  
    
    
}
.main-text h2 {
    font-size: 20px;
    font-weight: 700;
  
    
}
.main-text p {
    font-size: 15px;
    font-weight: 700;
    color: rgb(170, 170, 170);
    
}


.first-main-image {
    background-image: url("images/illustration-grow-together.svg");
    width: 60%;
    background-repeat: no-repeat;
    background-size: 300px 200px;

   
    
   
}

.second-main-image {
    background-image: url("images/illustration-flowing-conversation.svg");
    width: 60%;
    background-repeat: no-repeat;
    background-size: 300px 200px;
    
}
.second-main-text {
    padding: 50px 50px;
  
    width: 100%;
    margin-left: 200px;
    
}

.second-main-text h2 {
    font-size: 20px;
    font-weight: 700;
      
}
.second-main-text p {
    font-size: 15px;
    font-weight: 700;
    color: rgb(170, 170, 170);
    
}




.third-main-image {
    background-image: url("images/illustration-your-users.svg");
    width: 60%;
    background-repeat: no-repeat;
    background-size: 300px 200px;
  
    
}



footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    margin-top: 250px;
    height: 500px;
    background-color: hsl(192, 100%, 9%);
   
    
}

.footer-top {
    position: absolute;
    bottom: 420px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-top h1 {
    margin-top: 70px;
}
.footer-top button {
    margin-top: 10px;
    margin-left: 200px;
}


.footer-flex {

    display: flex;
    color: white;
  
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 30px;


}
.colum1 {
    color: white;    
}


.column2 {
    display: flex;
    flex-direction: column;
    color: white;
}
.column3 {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-logo {
    background-image: url("images/logo.svg");
    width: 300px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 150px;
    filter: brightness(0) invert(1);
    
   
}

.copyright {
    color: white;
    float: right;
    margin-left: 700px;

    
}
a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 20px;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    .hero-banner {
        background-image: url("images/bg-hero-mobile.svg");
        background-color: hsl(193, 100%, 96%);
        width: 375px;
        height: 718px;
        background-repeat: no-repeat;
        position: relative;   
        
    }

    .top-nav {
        display: flex;
     
        margin: 40px;
       
        
    }


   }
  